{% extends "baseAdministrador.html" %}

{% block content %}

<h1 class="text mb-4 display-1 fw-bold text-dark" style="font-family: 'Roboto', sans-serif;">
    <span class="text-muted" style="font-style: italic;"> Gestión Estados de Registro</span>
</h1>

<div class="btn-group d-flex justify-content-center" role="group" aria-label="Categorías" style="font-family: 'Roboto', sans-serif;">
    <a href="{% url 'estado_registro_add' %}" class="btn btn-secondary me-2">+ Agregar Estado de Registro</a>
</div>
<hr>

<table class="table table-striped" style="font-family: 'Roboto', sans-serif;">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th class="d-flex justify-content-end">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for estado in estados %}
        <tr>
            <td>{{ estado.estregcod }}</td>
            <td>{{ estado.estregnom }}</td>
            <td>


                <div class="d-flex justify-content-end">
                    <a class="btn1 btn-primary btn-sm" href="{% url 'estado_registro_edit' estado.estregcod %}" class="btn btn-outline-primary btn-sm me-2"> <i class="bi bi-pencil-square"></i> Modificar</a>
                    <a class="btn1 btn-danger btn-sm" href="{% url 'estado_registro_delete' estado.estregcod %}" class="btn btn-outline-danger btn-sm">
                        <i class="bi bi-trash"></i> Eliminar</a>
                </div>


            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<style>
    .btn-group .btn {
        border-radius: 25px;
        background-color: #6c757d;
        color: #fff;
        border: none;
        transition: all 0.3s ease;
        font-family: 'Roboto', sans-serif;
    }

    .btn-group .btn:hover {
        background-color: #535749;
    }

    .btn-group .btn:focus {
        outline: none;
    }

    table {
        font-family: 'Roboto', sans-serif;
    }
</style>


{% endblock %}

