{% extends "baseAdministrador.html" %}

{% block title %}Modificar Categoria Servicio{% endblock %}

{% block content %}
<div class="container py-1">
    <div>
        <div class="col-lg-19">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h2  style="font-family: 'Roboto', sans-serif;">
                       Modificar <span class="text-muted" style="font-style: italic;"> Categoria Servicio</span>
                    </h2>
                    <div class="bg-light rounded p-4 mb-4 shadow-sm">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                {{ form.as_p }}
                            </div>
                            
                            <hr>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary ">Guardar Cambios</button>
                                <a href="{% url 'gestionar_CategoriaServicios' %}" class="btn btn-secondary">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
