{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">INICIO DE SESIÓN</h2>
                    <p class=" text-center mb-4">Registra tu cuenta <a class="" href="{% url 'cliente_register' %}">aquí</a></p> 
                    <div class="bg-light rounded p-4 mb-4 shadow-sm">
                        <form method="post" class="login-form">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.username.label_tag }}
                                {{ form.username }}
                                {{ form.username.errors }}
                            </div>
                            <div class="form-group">
                                {{ form.password.label_tag }}
                                {{ form.password }}
                                {{ form.password.errors }}
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary btn-lg px-5 me-2">Login</button>
                            </div>
                        </form>
                    </div>
                    <div>
                        {% if messages %}
                            <ul>
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

