{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Iniciar Sesión</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.username }}
        {{ form.password }}
        {% if form.errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
    </form>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
