{% extends "base.html" %}

{% block title %}Confirmar Eliminación{% endblock %}

{% block content %}
    <div class="container my-5">
        <h2 class="mb-4">Confirmar Eliminación</h2>
        <p>¿Está seguro de que desea eliminar la venta {{ venta.vencod }}?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'venta_list' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
{% endblock %}
