{% extends "personal/gestion_personal.html" %}

{% block gestion_personal_content %}
    <!-- Categorías -->
    <div class="row justify-content-center mb-4">
        <div class="col-12 col-md-8">
            <div class="btn-group d-flex justify-content" role="group" aria-label="Categorías">
                <a href="{% url 'personal_list' %}" class="btn btn-secondary me-2">Todos</a>
                {% for tipo in tipo %}
                    <a href="{% url 'personal_list_codigo' tipo.tippercod %}" class="btn btn-secondary me-2">{{ tipo.tippernom }}</a>
                {% endfor %}
            </div>
        </div>
        <div >
            <div class="btn-group d-flex justify-content-center" role="group" aria-label="Categorías">
                <a href="{% url 'personal_add' %}" class="btn btn-secondary me-2">+ Agregar Personal</a>
            </div>
        </div>
    </div>
   

<div class="scrollable-table-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Usuario</th>

                <th>Fecha de Registro</th>
                <th>Tipo</th>

                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for personal in personal %}
            <tr>
                <td>{{ personal.perdni }}</td>
                <td>{{ personal.pernom }}</td>
                <td>{{ personal.perape }}</td>
                <td>{{ personal.pertel }}</td>
                <td>{{ personal.perdir }}</td>
                <td>{{ personal.perusu }}</td>

                <td>{{ personal.perfecreg }}</td>
                <td>{{ personal.tippercod.tippernom }}</td>

                <td>
                    <div class="d-flex justify-content-end">
                        <a class="btn1 btn-primary btn-sm" href="{% url 'personal_edit' personal.perdni %}" class="btn btn-outline-primary btn-sm me-2"> <i class="bi bi-pencil-square"></i>  Modificar</a>
                        <a class="btn1 btn-danger btn-sm" href="{% url 'personal_delete' personal.perdni %}" class="btn btn-outline-danger btn-sm">
                            <i class="bi bi-trash">  </i> Eliminar</a> 

                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<style>
    .btn-group .btn {
        border-radius: 25px;
        background-color: #6c757d;
        color: #fff;
        border: none;
        transition: all 0.3s ease;
    }

    .btn-group .btn:hover {
        background-color: #495057;
    }

    .btn-group .btn:focus {
        outline: none;
    }
</style>

{% endblock %}

