{% extends "baseAdministrador.html" %}

{% block content %}
<div class="container py-1">
    <div>
        <div class="col-lg-19">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h2  style="font-family: 'Roboto', sans-serif;">
                        {{ title }} <span class="text-muted" style="font-style: italic;"> Personal</span>
                    </h2>
                    <div class="bg-light rounded p-4 mb-4 shadow-sm">


                        <form method="post" action="{% url 'personal_add' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.perdni.label_tag }}
                                {{ form.perdni }}
                                {{ form.perdni.errors }}
                            </div>

                            <div class="form-group">
                                {{ form.pernom.label_tag }}
                                {{ form.pernom }}
                                {{ form.pernom.errors }}
                            </div>

                            <div class="form-group">
                                {{ form.perape.label_tag }}
                                {{ form.perape }}
                                {{ form.perape.errors }}
                            </div>

                            <div class="form-group">
                                {{ form.perusu.label_tag }}
                                {{ form.perusu }}
                                {{ form.perusu.errors }}
                            </div>

                            <div class="form-group">
                                {{ form.percon.label_tag }}
                                {{ form.percon }}
                                {{ form.percon.errors }}
                            </div>

                            <div class="form-group">
                                {{ form.estregcod.label_tag }}
                                {{ form.estregcod }}
                                {{ form.estregcod.errors }}
                            </div>

                            <div class="form-group">
                                {{ form.tippercod.label_tag }}
                                {{ form.tippercod }}
                                {{ form.tippercod.errors }}
                            </div>

                            <div class="form-group">
                                {{ form.perfecreg.label_tag }}
                                {{ form.perfecreg }}
                                {{ form.perfecreg.errors }}
                            </div>
                            <br>
                        <hr>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <a href="{% url return_url %}" class="btn btn-secondary">Cancelar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
