{% extends "base.html" %}

{% block title %}Registrar Cliente{% endblock %}

{% block content %}

<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Registrar Cliente</h2>
                    
                    <div class="bg-light rounded p-4 mb-4 shadow-sm">
                        
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

