{% extends "cliente/gestion_cliente.html" %}

{% block gestion_cliente_content %}
<h2 class="mb-4">Lista de Clientes</h2>
<div class="scrollable-table-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Usuario</th>
                <th>Correo</th>
                <th>Fecha de Registro</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in cliente %}
            <tr>
                <td>{{ cliente.clidni }}</td>
                <td>{{ cliente.clinom }}</td>
                <td>{{ cliente.cliape }}</td>
                <td>{{ cliente.clitel }}</td>
                <td>{{ cliente.clidir }}</td>
                <td>{{ cliente.cliusu }}</td>
                <td>{{ cliente.clicor }}</td>
                <td>{{ cliente.clifecreg }}</td>
                <td>{{ cliente.estregcod.estregnom }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary btn-sm" href="{% url 'cliente_edit' cliente.clidni %}">Modificar</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'cliente_delete' cliente.clidni %}">Eliminar</a>
                        <a class="btn btn-secondary btn-sm" href="{% url 'toggle_cliente_status' cliente.clidni %}">
                            {% if cliente.estregcod.estregnom == 'Activo' %}
                                Inactivar
                            {% else %}
                                Activar
                            {% endif %}
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="mb-3">
    <a class="btn btn-success" href="{% url 'cliente_add' %}">Adicionar</a>
</div>

<div class="btn-group mt-3" role="group" aria-label="Administrador Actions">
    <a class="btn btn-primary btn-lg" href="{% url 'inicio_administrador' %}">Volver al Inicio</a>
</div>
{% endblock %}
