{% extends "base.html" %}
{% block title %}Datos del Cliente{% endblock %}
{% block content %}
<div class="container">
    <h2>Detalle del Cliente</h2>
    <p><strong>Nombre:</strong> {{ cliente.clinom }}</p>
    <p><strong>Apellido:</strong> {{ cliente.cliape }}</p>
    <p><strong>Teléfono:</strong> {{ cliente.clitel }}</p>
    <p><strong>Dirección:</strong> {{ cliente.clidir }}</p>
    <p><strong>Email:</strong> {{ cliente.clicor }}</p>
    <a href="{% url 'cliente_update' %}">Editar Perfil</a>
    <a href="{% url 'cliente_delete' %}" onclick="confirmDelete(event)">Eliminar Cuenta</a>
</div>
{% endblock %}