{% extends "base.html" %}

{% block title %}Confirmar Eliminación{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h3 class="text-center">¿Estás seguro de que deseas eliminar la reserva para el producto {{ reserva.procod.pronom }}?</h3>
                    <div class="text-center">
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-lg px-5 me-2">Eliminar</button>
                            <a href="{% url 'detalle_reserva' reserva.evecod %}" class="btn btn-secondary btn-lg px-5">Cancelar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}