{% extends "baseAdministrador.html" %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}

<div class="container py-1">
    <div>
        <div class="col-lg-19">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h2  style="font-family: 'Roboto', sans-serif;">
                        {% if producto_form.instance.pk %}Editar{% else %}Agregar{% endif %}  <span class="text-muted" style="font-style: italic;"> Producto</span>
                    </h2>
                    <div class="bg-light rounded p-4 mb-4 shadow-sm">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            
                            <div class="mb-3">
                                {{ producto_form.as_p }}
                                <h3 class="mt-4">Inventario</h3>
                                {{ inventario_form.as_p }}
                            </div>
                            
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary ">Guardar</button>
                                <a href="{% url 'lista_productos' %}" class="btn btn-secondary ">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
