{% extends "base.html" %}

{% block content %}
<h2 class="mb-4">Mis Consultas</h2>
<div class="scrollable-table-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tipo de Consulta</th>
                <th>Fecha de la Consulta</th>
                <th>Pregunta</th>
                <th>Respuesta</th>
            </tr>
        </thead>
        <tbody>
            {% for consulta in consultas %}
            <tr>
                <td>{{ consulta.tipconcod.tipconnom }}</td> 
                <td>{{ consulta.confec }}</td>
                <td>{{ consulta.conpre }}</td>
                <td>{{ consulta.conres }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8">No hay consultas para mostrar.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="btn-group mt-3" role="group" aria-label="Cliente Actions">
    <a class="btn btn-primary btn-lg" href="{% url 'index' %}">Volver al Inicio</a>
</div>

{% endblock %}
