{% extends "base.html" %}

{% block content %}
<h2 class="mb-4">Gestión de Consultas</h2>
<nav class="navigation mb-4">
    <a class="btn btn-secondary {% if request.path == '/project/tienda/tipo_consulta/' %}active{% endif %}" href="{% url 'tipo_consulta_list' %}">Tipos de Consulta</a>
</nav>
<div class="centered-box">
    {% block gestion_consulta_content %}
    {% endblock %}
</div>

<div class="container" style="font-family: 'Roboto', sans-serif;">

    <h2 class="mb-4 display-4 fw-bold text-dark">
        <span class="text-muted" style="font-style: italic;">Consultas</span>
    </h2>

    <div class="scrollable-table-container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10%;">Código</th>
                    <th style="width: 20%;">Pregunta</th>
                    <th style="width: 20%;">Respuesta</th>
                    <th style="width: 15%;">Fecha de la Consulta</th>
                    <th style="width: 15%;">Cliente</th>
                    <th style="width: 15%;">Personal Encargado</th>
                    <th style="width: 15%;">Tipo de Consulta</th>
                    <th style="width: 10%;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for consulta in consultas %}
                <tr>
                    <td>{{ consulta.concod }}</td>
                    <td>{{ consulta.conpre }}</td>
                    <td>{{ consulta.conres }}</td>
                    <td>{{ consulta.confec }}</td>
                    <td>{{ consulta.clidni.clinom }} {{ consulta.clidni.cliap }}</td>
                    <td>{{ consulta.perdni.pernom }} {{ consulta.perdni.perape }}</td>
                    <td>{{ consulta.tipconcod.tipconnom }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-outline-primary btn-sm me-2" href="{% url 'consulta_edit' consulta.concod %}">
                                <i class="bi bi-pencil-square"></i> Responder
                            </a>
                            <a class="btn btn-outline-danger btn-sm" href="{% url 'consulta_delete' consulta.concod %}">
                                <i class="bi bi-trash"></i> Eliminar
                            </a>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8">No hay consultas para mostrar.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="btn-group mt-3 d-flex justify-content-center" role="group" aria-label="Administrador Actions">
        <a class="btn btn-primary btn-lg" href="{% url 'inicio_vendedor' %}">Volver al Inicio</a>
    </div>

</div>

{% endblock %}