{% extends "base.html" %}

{% block title %}Calendario{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <title> Calendar</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../static/evo-calendar/css/evo-calendar.min.css">
    <link rel="stylesheet" type="text/css" href="../static/evo-calendar/css/evo-calendar.orange-coral.min.css">

    <link rel="stylesheet" type="text/css" href="../static/demo/demo.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <div style="max-width: 1000px; margin: auto" id='calendar'></div>
</body>
</html>
{% endblock %}
