<footer>
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>contactos</h2>
            <p>¿Nececitas ayuda? <span>contactanos</span></p>
        </div>

        <div class="mb-3">
            <iframe style="border:0; width: 100%; height: 350px;"
                src="https://maps.google.com/maps?q=C.%20Rivero%20300-312,%20Arequipa%2004001&t=&z=15&ie=UTF8&iwloc=&output=embed"
                frameborder="0" allowfullscreen>
            </iframe>
        </div>

        <div class="row gy-4">

            <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
                <i class="icon bi bi-map flex-shrink-0"></i>
                <div>
                <h3>dirección</h3>
                <p>calle...</p>
                </div>
            </div>
            </div>

            <div class="col-md-6">
            <div class="info-item d-flex align-items-center">
                <i class="icon bi bi-envelope flex-shrink-0"></i>
                <div>
                <h3>Escribe a nuestro correo</h3>
                <p>contact@example.com</p>
                </div>
            </div>
            </div>

            <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
                <i class="icon bi bi-telephone flex-shrink-0"></i>
                <div>
                <h3>llamanos al </h3>
                <p>+1 5589 55488 55</p>
                </div>
            </div>
            </div>

            <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
                <i class="icon bi bi-share flex-shrink-0"></i>
                <div>
                <h3>horario de ateción</h3>
                <div><strong>lunes a sábado</strong> 9AM - 23PM;
                    <strong>domingo </strong> cerrado
                </div>
                </div>
            </div>
            </div>

        </div>

        </div>
    </section>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>