{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <header>
        <h1>Información de la Empresa</h1>
    </header>
    <main>
        <section id="company-info">
            <!-- Aquí se mostrará la información de la empresa -->
        Es una empresa especialiazada en actividades de servicio de sistemas de seguridad.
        Su principal enfoque está en la supervisión a distancia de sistemas electrónicos de 
        seguridad, mantenimiento de alarmas contra robos robos e incendios, así como la
        instalación, reparación y ajuste de dispositivos de cierre mecánicos y electrónicos,
        cajas caudales y cajas fuertes.
        </section>
    </main>
</div>
{% endblock %}
