<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de la Empresa</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Información de la Empresa</h1>
        </header>
        <main>
            <section id="company-info">
                <!-- Aquí se mostrará la información de la empresa -->
            Es una empresa especialiazada en actividades de servicio de sistemas de seguridad.
            Su principal enfoque está en la supervisión a distancia de sistemas electrónicos de 
            seguridad, mantenimiento de alarmas contra robos robos e incendios, así como la
            instalación, reparación y ajuste de dispositivos de cierre mecánicos y electrónicos,
            cajas caudales y cajas fuertes.

                <h2>Nombre de la Empresa: SYSEGUR AQP</h2>
                <p>Descripción: Empresa dedicada a la seguridad y sistemas.</p>
                <p>Ubicación: Arequipa, Perú</p>
                <p>Contacto: contacto@syseguraqp.com</p>
                <p>Teléfono: +51 961 385 515</p>
                
            </section>
        </main>
    </div>
</body>
</html>
