{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Bienvenido, Administrador</h1>
        <p>Esta es la página de inicio para el personal administrador.</p>

        <div class="btn-group mt-3" role="group" aria-label="Administrador Actions">
            <a class="btn btn-primary btn-lg" href="{% url 'actualizar_perfil_personal' %}">Actualizar Perfil</a>
        </div>

        <div class="btn-group mt-3" role="group" aria-label="Administrador Actions">
            <a class="btn btn-primary btn-lg" href="{% url 'estado_registro_list' %}">Gestionar Estados de Registro</a>
        </div>

        <div class="btn-group mt-3" role="group" aria-label="Administrador Actions">
            <a class="btn btn-primary btn-lg" href="{% url 'gestion_personal' %}">Gestionar Personal</a>
        </div>
        
        <div class="btn-group mt-3" role="group" aria-label="Administrador Actions">
            <a class="btn btn-primary btn-lg" href="{% url 'gestion_cliente' %}">Gestionar Clientes</a>
        </div>
    </div>
{% endblock %}

