<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Tienda</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {% if request.cliente %}
            <li class="nav-item">
                <span class="navbar-text text-light font-weight-bold">Bienvenido, {{ request.cliente.clinom }}</span>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="../static/image/usuario.jpeg" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="" alt="User" style="width: 30px; height: 30px; border-radius: 50%;">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'cliente_detail' %}">Mi Perfil</a>
                    <a class="dropdown-item" href="{% url 'lista_reservas' %}">Tus Pedidos</a>
                    <a class="dropdown-item" href="{% url 'lista_eventos' %}">Tus Servicios</a>
                    <a class="dropdown-item" href="{% url 'calendario' %}">Ver Calendario</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'cliente_logout' %}" onclick="confirmLogout(event)">Logout</a>
                </div>
            </li>
            
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'empresa' %}">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'productos' %}">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'calendar' %}">Pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'servicios' %}">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'preguntas_frecuentes' %}">Preguntas Frecuentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'consulta_cliente_add' %}">Formulario de Consulta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'consulta_cliente_list' %}">Consultas</a>
                </li>
            </ul>

            <li class="nav-item">
                <span class="navbar-text text-light font-weight-bold">Bienvenido, {{ request.cliente.clinom }}</span>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="../static/image/usuario.jpeg" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="" alt="User" style="width: 30px; height: 30px; border-radius: 50%;">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'cliente_detail' %}">Mi Perfil</a>
                    <a class="dropdown-item" href="">Tus Pedidos</a>
                    <a class="dropdown-item" href="{% url 'lista_eventos' %}">Tus Servicios</a>
                    <a class="dropdown-item" href="{% url 'calendar' %}">Ver Calendario</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'cliente_logout' %}" onclick="confirmLogout(event)">Logout</a>
                </div>
            </li>
            {% else %}
            
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'empresa' %}">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'preguntas_frecuentes' %}">Preguntas Frecuentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'productos' %}">Productos</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="{% url 'calendar' %}">Pedidos</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'servicios' %}">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cliente_login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cliente_register' %}">Registrarse</a>
                </li>
            </ul>
            {% endif %}
        </ul>
    </div>
</nav>
