<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Calendario Interactivo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
</head>
<body>
    <div id="calendario"></div>

    <script>
        $(document).ready(function() {
            $('#calendario').fullCalendar({
                events: '/obtener_eventos/',
                dayRender: function(date, cell) {
                    cell.attr('data-date', date.format());
                },
                eventMouseover: function(event, jsEvent) {
                    var tooltip = '<div class="tooltip">' + 
                                  'Servicio: ' + event.servicio + '<br>' +
                                  'Técnico: ' + event.tecnico + '</div>';
                    $('body').append(tooltip);
                    $(this).mouseover(function(e) {
                        $(this).css('z-index', 10000);
                        $('.tooltip').fadeIn('500');
                        $('.tooltip').fadeTo('10', 1.9);
                    }).mousemove(function(e) {
                        $('.tooltip').css('top', e.pageY + 10);
                        $('.tooltip').css('left', e.pageX + 20);
                    });
                },
                eventMouseout: function(event, jsEvent) {
                    $(this).css('z-index', 8);
                    $('.tooltip').remove();
                }
            });
        });
    </script>
    <style>
        .tooltip {
            position: absolute;
            z-index: 10001;
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</body>
</html>
